* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	max-width: 650px;
	margin-inline: auto;
	background-color: black;
	margin-top: 10px;
}
html{
	scroll-behavior: smooth;
}

h1 {
	text-align: center;
	color: whitesmoke;
}
#quote-btn {
	color: white;
	border-color: aliceblue;
	padding: 5px;
	border-radius: 5px;
	text-shadow: 0px 0px 2px;
	float: right;
	margin-bottom: 7px;
	cursor: pointer;
	font-size: large;
	margin-bottom: 10px;
	/* position: fixed;
    display: block;
    right: 12rem; */
}
#quote-btn:hover {
	/* padding: 7px; */
	transition: 0.3s ease;
	background-color: whitesmoke;
	color: black;
}

#today {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	color: whitesmoke;

	border: 1px solid white;
	border-color: hsla(0, 0%, 100%, 0.1);
	border-radius: 7px;
	box-shadow: 0px 0px 5px;
	height: 180px;
	background-color: rgba(245, 245, 245, 0.765);
}
#today-box {
	display: flex;
	margin-top: 5px;
	margin-bottom: 5px;
	height: 30%;
	width: 90%;
	justify-content: space-around;
	border: 1px solid white;
	border-color: hsla(0, 0%, 100%, 0.1);
	border-radius: 7px;
	box-shadow: 0px 0px 5px;
}
#today-quote {
	display: flex;
	flex-direction: column;
	margin-top: 5px;
	margin-bottom: 5px;
	height: 70%;
	width: 90%;
	justify-content: center;
	border: 1px solid white;
	border-color: hsla(0, 0%, 100%, 0.1);
	border-radius: 7px;
	box-shadow: 0px 0px 5px;
}
#today-box #text {
	margin: 3px;
	height: 90%;
	width: 60%;
	display: flex;
	align-items: center;
	font-size: larger;
	font-weight: 900;
}
#time {
	display: flex;
	justify-content: center;

	margin: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.unit {
	display: inline-block;
	height: 80%;
	width: 40%;
	font-size: 30px;
	font-weight: 900;
	margin: 0;
}
.dot {
	display: inline-block;
	height: 80%;
	width: 20%;
	font-size: 30px;
	font-weight: 900;
	margin: 0;
}
.box {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-block: 30px;
	border: 1px solid white;
	border-color: hsla(0, 0%, 100%, 0.1);
	padding: 5px 8px;

	color: whitesmoke;
	border-radius: 7px;
	box-shadow: 0px 0px 5px;
	font-size: larger;
}
.box:hover {
	transition: 0.3s ease;
	background-color: whitesmoke;
	color: black;
}
.box:hover .child {
	transition: 0.3s ease;
	background-color: whitesmoke;
	color: black;
	text-shadow: 0px 0px 1px;
}
.box:hover .ai-btn {
	border: 2px solid black;
	cursor: pointer;
}
.blockquote {
	margin-left: 0;

	text-shadow: 0px 0px 2px;
}

.error {
	padding: 180px;
	margin-block: 30px;
	border: 1px solid white;
	border-color: hsla(0, 0%, 100%, 0.1);

	color: whitesmoke;
	border-radius: 7px;
	box-shadow: 0px 0px 5px;
	font-size: larger;
}
.error .parg {
	background-color: rgba(40, 40, 40, 0.3);
	font-size: xx-large;
	text-align: center;
	font-weight: 600;
}
.sbtn {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0;
	width: 100%;
	padding: 10px;
}
.author {
	margin-top: 9px;
	font-size: medium;
	margin-left: 40px;
	padding: 8px;
	width: 70%;
}
.ai-btn {
	display: block;
	color: white;
	width: 20%;
	height: 50px;
	border: 2px solid whitesmoke;
	border-radius: 30px;
	padding: 2px;
}
/* .ai-btn:hover {
	
	transition: 0.3s ease;
	background-color: whitesmoke;
	color: black;
	text-shadow: 0px 0px 1px;
	border-color: black;
} */
#loader {
	color: whitesmoke;
	text-align: center;
	font-size: 18px;
	margin: 20px 0;
}
.td {
	margin-left: 8px;
	margin-top: 0;
	font-size: large;
}
.parg1 {
	font-size: small;
	text-align: center;
}
/* #quotes-show {
	/* position: absolute;
	background-color: aliceblue;
	height: 60%;
	width: 22%; 
} */

/* .show {
 	display: block;
 	width: 30%;
 	border: 1px solid black;
 	margin-left: 4px;
 	height: 70%;
 	text-align: justify
 }

 .hide {
 	display: none;
 } */
#paragraph {
	/* color: whitesmoke; */
	background-color: white;
	color: black;
	line-break: normal;
	margin-top: 58px;
	line-height: 24px;
	padding: 6px;
	background-color: black;
	color: whitesmoke;
	font-weight: 500;
	font-size: medium;
}

.popup {
	width: 500px;
	height: 300px;
	padding: 8px;
	background-color: white;
	border-radius: 16px;
	position: fixed;
	inset: 0;
	margin: auto;
	box-shadow: 0 5px 2px 0 rgba(0, 0, 0, 0.3);
	transform: scale(0);
	transition: transform 1s ease-in-out;
	border: 1px solid white;
	background-color: black;
	
}

.open-pop {
	transform: scale(1);
	transition: transform 1s ease-in-out;
}

.close-icon {
	font-size: 48px;
	font-weight: 700;
	position: absolute;
	right: 16px;
	cursor: pointer;
	font-family: serif;
	background-color: white;
	background-color: black;
	color: white;
}

svg {
	position: fixed;
	z-index: 999;
	top: 73vh;
	left: 86vw;

	background-color: whitesmoke;
	border-radius: 50%;
	cursor: pointer;
	border: 3px solid whitesmoke;
	display: none;
}

